@media(min-width:1199px) {
    .table {
        margin-left: 300px;
        width: 80%;
        margin-top: 20px;
    }

}

.table {
    padding: 10px 18px;
    margin-top: 20px;
    transition: all 0.3s;
}