.dashboard-cards {
    margin-top: 50px;


}

.card:hover {
    background-color: var(--bgcolor);
    color: black;
    transition: all 0.3s;


}

.card-title {
    size: 10px;
}

.card {
    background-color: #012970;
    color: aliceblue;
    height: 100px;
}

#tabel-card {
    margin-left: 0;
    padding: 0;
    width: 100%;
}

.dashboard-h1 {
    margin-top: 20px;
    color: #012970;
}


@media (min-width :100px) and (max-width:1199px) {
    .card {
        margin-bottom: 5px;
    }
}

@media (max-width:566px) {
    .dashboard-cards {

        width: 90%;
    }

    #tabel-card {
        margin-left: 0;
        width: 100%;
    }
}